:root {
	--darkest-grey: #2f2f2f;
	--darkerer-grey: #383838;
	--darker-grey: #404040;
	--dark-grey: #4a4a4a;
	--light-grey: #808080;
	--lighter-grey: #909090;

	--dark-turq-border: 1px solid var( --dark-turq );

	--darkest-turq: #0d3435;
	--bright-turq: #00ffdd;
	--dark-turq: #246a6a;
	--mid-turq: #2c7b7b;
	--turq: #339999;

	--orange: #a86d14;

	--red: #c72d2d;
}

::-webkit-scrollbar {
	height: .5rem;
	width: .8rem;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	background-color: var( --darkest-grey );
}

::-webkit-scrollbar-thumb {
	box-shadow: 0 0 10rem 10rem var( --turq ) inset;
	border-radius: 1rem;
}

::-webkit-slider-thumb {
	box-shadow: -100vw 0 0 calc( 100vw - .5rem ) var( --dark-turq );
	background-color: var( --turq );
	border-radius: 50%;
	cursor: ew-resize;
	appearance: none;
	display: block;
	height: 1rem;
	width: 1rem;
}

::-webkit-file-upload-button {
	visibility: hidden;
}

*:not(input[type="text"]) {
	user-select: none;
}

.flight {
	float: right;
}

.fleft {
	float: left;
}

body, div, form {
	background-color: var( --darker-grey );
}

body {
	font-family: monospace, monospace;
	color: var( --lighter-grey );
	overflow: hidden;
	font-size: 16px;
	margin: 0;
}

div.section {
	display: inline-block;
	vertical-align: top;
	overflow: auto;
	padding: 1rem;
}

div.secleft {
	height: calc( 100vh - 5.3rem );
	width: calc( 80vw - 2rem );
	scroll-behavior: smooth;
}

div.secright {
	width: calc( 20vw - 2rem );
	height: 100vh;
}

#seek {
	border-top: var( --dark-turq-border );
	width: calc( 80vw - 2rem );
	position: absolute;
	padding: 1rem;
	margin: 0;
	bottom: 0;
	left: 0;
}

#seek input {
	width: 100%;
}

fieldset[name="transport"],
fieldset[name="folder"],
output[name="times"] {
	width: calc( 20vw - 2rem );
	text-align: center;
}

form.overlay {
	position: absolute;
	padding: 1rem;
	z-index: -1;
}

form.overlay.show {
	z-index: 1;
}

form.overlay.drop {
	box-shadow: 0 0 2rem 0rem black;
	border-radius: .5rem;
}

div.dropzone {
	border: var( --dark-turq-border );
	display: inline-block;
	border-radius: .2rem;
	padding: .5rem;
	margin: 0 1rem;
}

ol.dropzone {
	height: calc( 100vh - 9rem );
	margin-top: 3.5rem;
}

h1 {
	margin: 0;
}

#sources {
	margin-bottom: 1rem;
}

#sources select,
#sources input {
	width: -webkit-fill-available;
	margin: .5rem 0;
	display: block;
}

#sources fieldset {
	margin-top: 0;
}

#queue_editor {
	height: calc( 100vh - 5.3rem );
	width: calc( 80vw - 2rem );
	overflow: auto;
}

#queue_editor > fieldset {
	width: calc( 80vw - 3rem );
	background-color: inherit;
	position: fixed;
	padding: 1rem;
	left: 0;
	top: 0;
}

#queue_editor li.dragee {
	opacity: .25;
}

#playlist_filter {
	right: 2rem;
	top: 2rem;
}

#playlist_filter input[type="text"] {
	color: var( --turq );
}

#playlist_filter input[name="starts"] {
	width: 11ch;
}

#playlist_filter input[name="ends"] {
	width: 9ch;
}

fieldset {
	margin: 0;
	border: 0;
}

legend {
	color: var( --turq );
}

fieldset.legend.wrap label {
	display: inline-block;
}

fieldset.legend {
	border: 1px solid var( --dark-turq );
	border-radius: .2rem;
}

fieldset.legend label {
	display: block;
}

fieldset:not(.legend) {
	padding: 0;
}

fieldset:not(:first-child) {
	margin-top: 1rem;
}

fieldset.child {
	border-radius: 0 0 .2rem .2rem;
	margin: .25rem 0 .5rem 0;
	border-top: 0;
}

output[name="played_length"]:after {
	content: attr( data-pl ) "\0000a0PLAYED";
}

output[name="queue_length"]:after {
	content: attr( data-ql ) "\0000a0QUEUED";
}

output[name="times"]:before {
	content: attr( data-dura ) "\0000a0\002212\0000a0" attr( data-curt ) "\0000a0\00224A\0000a0" attr( data-rema );
}

output[name="playlist_length"]:before {
	content: attr( data-tracks ) "\0000a0IN\0000a0" attr( data-folders );
}

output[name="playlist_length"]:after {
	content: attr( data-broken );
	color: var( --red );
}

label[data-kbd]:after {
	content: "(" attr( data-kbd ) ")";
	color: var( --light-grey );
	vertical-align: text-top;
	font-size: 90%;
}

label.kbd[data-kbd]:after {
	margin-left: .5rem;
}

output[name="playlist_length"] {
	margin-bottom: .3rem;
	display: block;
}

input[name="fixBreakages"].show {
	display: inline-block;
}

ol li span:after {
	content: attr( data-display );
}

ol li {
	padding: .2rem 1rem 0;
	color: var( --turq );
	white-space: nowrap;
}

li.played {
	color: var( --light-grey ) !important;
}

ol li.played {
	color: var( --dark-turq ) !important;
}

li.broken {
	color: var( --red ) !important;
}

ol li span {
	text-overflow: ellipsis;
	display: inline-block;
}

ol li span,
ol li {
	overflow: hidden;
}

ol li span:nth-child(1) {
	width: 5ch;
}

ol li span:nth-child(2) {
	width: calc( 100% - 10ch );
}

ol li span:nth-child(3) {
	width: 4ch;
}

ul, ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

select,
input {
	background-color: var( --darkest-grey );
	font-family: monospace, monospace;
	border-radius: .2rem;
	font-size: inherit;
	color: inherit;
	padding: 0;
	border: 0;
}

input[type="checkbox"],
input[type="radio"] {
	appearance: none;
	margin: 0 .4rem;
	padding: .4rem;
}

input[type="radio"] {
	border-radius: 50%;
}

input[type="file"] {
	background-color: var( --darker-grey );
	color: transparent;
	margin-top: .5rem;
	display: block;
}

input[type="file"]:before {
	background-color: var( --darkest-grey );
	padding: .2rem .4rem .1rem;
	color: var( --lighter-grey );
	content: "SELECT FOLDERS";
	border-radius: .2rem;
	cursor: pointer;
}

input[type="range"] {
	background-color: var( --darkest-grey );
	vertical-align: text-top;
	border-radius: 1rem;
	position: relative;
	cursor: ew-resize;
	appearance: none;
	overflow: hidden;
	margin: 0;
}

fieldset[name="transport"] {
	position: absolute;
	bottom: 1rem;
}

fieldset[name="transport"] input {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	border-radius: 0.4rem;
	height: 3rem;
	width: 3rem;
}

fieldset[name="transport"] input:hover {
	background-color: var( --dark-turq );
}

input[name="prevFolder"],
input[name="prevTrack"] {
	background-image: url( "prev.png" );
}

input[name="backFolder"],
input[name="backTrack"] {
	background-image: url( "back.png" );
}

input[name="nextFolder"],
input[name="nextTrack"] {
	background-image: url( "next.png" );
}

input[name="pawsTrack"] {
	background-image: url( "paws.png" );
}

input[name="playTrack"] {
	background-image: url( "play.png" );
}

input[name="stopTrack"] {
	background-image: url( "stop.png" );
}

input:checked {
	background-color: var( --turq );
}

input.orange:checked {
	background-color: var( --orange );
}

input.orange.split:checked {
	background-image: linear-gradient( to right, var( --turq ) 50%, var( --orange ) 50% );
}

output:not([name="playlist_length"]) + label.kbd,
output:not([name="playlist_length"]) + input,
input + input:not([type="file"]),
input[name="volume"],
input + label.kbd {
	margin-left: .5rem;
}

input[type="button"],
input[type="text"],
select {
	padding: .2rem .4rem .2rem;
}

input[type="text"] {
	padding-bottom: .3rem;
	vertical-align: top;
}

select {
	padding-bottom: .2rem;
	margin-bottom: .5rem;
}

input[type="button"],
select {
	cursor: pointer;
}

#playlist > li:before {
	content: attr( data-path );
	font-weight: bold;
}

#playlist:not(.collapsed) > li:not(:first-of-type) {
	border-top: var( --dark-turq-border );
	padding-top: .5rem;
}

#playlist ol {
	background-color: var( --darker-grey );
	margin-top: .5rem;
}

#playlist.collapsed:not(.filtered) > li:nth-child( odd ),
#playlist:not(.filtered) ol li:nth-child( odd ) {
	background-color: var( --darkerer-grey );
}

#playlist.collapsed > li.playing {
	border-bottom: var(--dark-turq-border);
	border-top: var(--dark-turq-border);
}

#playlist.filtered li.filtered li.filtered {
	background-color: var( --darkest-turq );
	color: var( --lighter-grey );
}

#playlist ol li.playing:not(.broken) {
	background-color: var( --dark-turq ) !important;
}

#playlist ol li.playing:not(.broken):not(.focussed) {
	color: var( --darkest-grey ) !important;
}

#playlist li.focussed {
	color: var( --bright-turq ) !important;
}

#playlist ol li span[data-queue]:not([data-queue=""]):before,
fieldset.orange input[type="button"],
input[type="button"].orange {
	background-color: var( --orange );
	color: var( --darkest-grey );
	padding-bottom: .1rem;
}

#playlist ol li span[data-queue]:not([data-queue=""]):before {
	content: attr( data-queue );
	border-radius: .2rem;
	margin-right: .5rem;
	padding: 0 .5rem;
}

#playlist.collapsed:not(.filtered) > li:not(.playing):not(.focussed):not(.focussed_folder) ol,
#controls.hide_shuffle_by fieldset.shuffle_by,
#controls.hide_cont_folder span.skip_folders,
#controls.hide_cont_folder label.cont_folder,
#controls.hide_shuffle_by span.skip_folders,
#queue_editor ol li span:not(:nth-child(2)),
#sources fieldset[name="new_lib"].hide,
#playlist.filtered li:not(.filtered),
#queue_editor div.dropzone li,
#controls span.skip_tracks,
input[name="fixBreakages"],
fieldset[name="folder"] {
	display: none;
}

#controls.hide_cont_folder span.skip_tracks,
#controls.hide_shuffle_by span.skip_tracks {
	display: inline;
}

fieldset[name="folder"] {
	background-color: var( --darker-grey );
	padding-top: 2rem;
}

#controls:not(.hide_cont_folder):not(.hide_shuffle_by) fieldset[name="folder"] {
	display: block;
}

fieldset[name="folder"] span {
	width: calc( ( 3.5rem * 3 ) + .5rem );
	color: var( --dark-turq );
	display: inline-block;
	vertical-align: top;
	font-size: 200%;
}

button {
	background-color: var( --darker-grey );
	border: var( --dark-turq-border );
	color: var( --light-grey );
	border-radius: .3rem;
	font-family: inherit;
	margin-top: 1rem;
	font-size: .8rem;
	padding: .5rem;
}

kbd {
	background-color: var( --darkest-grey );
	padding: 0 .3em;
}
